<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="myntra_homefurnishings.TestCases.Header_test"/>
      <class name="myntra_homefurnishings.TestCases.Filter_test"/>
      <class name="myntra_homefurnishings.TestCases.LandingPage_test"/>
      <class name="myntra_homefurnishings.TestCases.Profile_test"/>
      <class name="myntra_homefurnishings.TestCases.Search_test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
